<div class="w-1/4 bg-gray-800 text-white p-4 sidebar" th:fragment="admin-nav">
    <h2 class="text-2xl font-semibold mb-4">Admin site</h2>
    <ul>
        <li class="mb-2"><a th:href="@{/admin/category}" class="block text-white hover:text-blue-500">Category</a></li>
        <li class="mb-2"><a th:href="@{/admin/product}" class="block text-white hover:text-blue-500">Product</a></li>
        <li class="mb-2"><a th:href="@{/admin/user}" class="block text-white hover:text-blue-500">User</a></li>
        <li class="mb-2"><a th:href="@{/admin/order}" class="block text-white hover:text-blue-500">Order</a></li>
        <!-- Thêm các mục menu khác ở đây -->
        <li class="mb-2"><a th:href="@{/home}" class="block text-white hover:text-blue-500">Back To Home Site</a></li>
        <li class="mb-2"><a th:href="@{/logout}" class="block text-white hover:text-blue-500">Logout</a></li>
    </ul>
</div>