<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
    <script src="http://cdn.tailwindcss.com"></script>
    <style>
        .sidebar {
            height: 100vh;
        }
    </style>
</head>
<body class="bg-gray-800">
<div class="flex h-full">
    <div th:replace="fragment/admin-navigation :: admin-nav"></div>
    <div class="w-3/4 bg-white p-4">
        <h1 class="text-2xl font-semibold border-b border-gray-300 p-5">Update User [[${user.name}]]</h1>
        <!-- Nội dung bảng quản lý sẽ được thêm vào đây -->
        <div class="max-w-md mx-auto my-10">
            <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" method="post" th:action="@{/admin/user/save}">
                <input type="hidden" name="id" th:value="${user.id}">
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" >
                        Name
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text" th:value="${user.name}" name="name" required>
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" >
                        Email
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="email" th:value="${user.email}" placeholder="Nhập giá mới" name="email" required>
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" >
                        PhoneNumber
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text" th:value="${user.phoneNumber}" placeholder="Nhập số lượng mới" name="phoneNumber" required>
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" >
                        Address
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text" th:value="${user.address}" placeholder="Nhập mô tả mới" name="address" required>
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" >
                        Username
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text" th:value="${user.username}" placeholder="Nhập mô tả mới" name="username" required>
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" >
                        Password
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text" th:value="${user.password}" placeholder="Nhập link ảnh mới" name="password" required>
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2">
                        Active
                    </label>
                    <select name="enabled" class="border border-gray-400 rounded px-4 py-2 focus:outline-none focus:border-blue-500">
                        <option value="true" class="text-gray-800">Actived</option>
                        <option value="false" class="text-gray-800">Not Actived</option>
                    </select>
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2">
                        Role
                    </label>
                    <select name="role" class="border border-gray-400 rounded px-4 py-2 focus:outline-none focus:border-blue-500">
                        <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.name}" class="text-gray-800"></option>
                    </select>
                </div>
                <div class="flex items-center justify-between">
                    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                        Update user
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>