<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="http://cdn.tailwindcss.com"></script>
</head>
<body>
<header class="bg-white border-b border-gray-200 shadow-md">
    <nav class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8" aria-label="Global">
        <div class="flex lg:flex-1">
            <a th:href="@{/home}" class="-m-1.5 p-1.5">
                <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="">
            </a>
        </div>
        <div class="hidden lg:flex lg:gap-x-12">
            <a th:href="@{/home}" class="text-sm font-semibold leading-6 text-gray-900 hover:text-gray-500">Home</a>
            <a th:href="@{/product}" class="text-sm font-semibold leading-6 text-gray-900 hover:text-gray-500">Product</a>
            <a href="#" class="text-sm font-semibold leading-6 text-gray-900 hover:text-gray-500">About</a>
            <a href="#" class="text-sm font-semibold leading-6 text-gray-900 hover:text-gray-500">Contact</a>
        </div>
        <div class="hidden lg:flex lg:flex-1 lg:justify-end">
            <a th:href="@{/cart}" class="text-sm font-semibold leading-6 text-gray-900 hover:text-gray-500">Cart</a>
            <a th:href="@{/login}" th:if="${isUserLogin == false}" class="text-sm font-semibold leading-6 text-gray-900 hover:text-gray-500 ml-5">Login</a>
            <a th:href="@{/register}" th:if="${isUserLogin == false}" class="text-sm font-semibold leading-6 text-gray-900 hover:text-gray-500 ml-5 ">Register <span aria-hidden="true">&rarr;</span></a>
            <a th:href="@{/logout}" th:if="${isUserLogin == true}" class="text-sm font-semibold leading-6 text-gray-900 hover:text-gray-500 ml-5 ">Logout <span aria-hidden="true">&rarr;</span></a>
        </div>
    </nav>
</header>
<div class="container mx-auto flex justify-right p-10 border-b border-gray-200">
    <h1 class="text-3xl font-semibold">Check Out</h1>
</div>
<div class="container mx-auto p-4 flex">
    <!-- Phần bên trái: Thông tin người mua -->
    <div class="w-2/3 p-4">
        <div class="bg-gray-100 p-8 rounded-lg shadow-md">
            <h1 class="text-2xl font-semibold mb-4">Contact Information</h1>

            <form th:action="@{/checkout}" method="post" th:object="${orderForm}">
                <div class="container mx-auto flex mb-4">
                    <div class="w-1/2 mr-3">
                        <label class="block text-gray-700">First Name</label>
                        <input type="text" th:field="*{fname}" class="w-full p-2 border border-gray-300 rounded-md">
                    </div>
                    <div class="w-1/2 ml-3">
                        <label class="block text-gray-700">Last Name</label>
                        <input type="text" th:field="*{lname}" class="w-full p-2 border border-gray-300 rounded-md">
                    </div>
                </div>

                <div class="mb-4">
                    <label class="block text-gray-700">Email</label>
                    <input type="email" th:field="*{email}" class="w-full p-2 border border-gray-300 rounded-md">
                </div>

                <div class="mb-4">
                    <label class="block text-gray-700">Phone</label>
                    <input type="number" th:field="*{phone}" class="w-full p-2 border border-gray-300 rounded-md">
                </div>

                <div class="mb-4">
                    <label class="block text-gray-700">Address</label>
                    <input type="text" th:field="*{address}" class="w-full p-2 border border-gray-300 rounded-md">
                </div>
                <!-- Thêm các trường thông tin thanh toán khác ở đây -->

                <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded-md">Confirm Order</button>
            </form>
        </div>
    </div>

    <!-- Phần bên phải: Giỏ hàng -->
    <div class="w-1/3 p-4">
        <div class="bg-gray-100 p-8 rounded-lg shadow-md">
            <h1 class="text-2xl font-semibold mb-4">Order Summary</h1>
            <!-- Hiển thị danh sách sản phẩm trong giỏ hàng -->
            <div class="mb-4">
                <div class="flex items-center mb-2 border-b border-gray-300 " th:each="cartItem:${cart.cartItems}">
                    <div class="w-16 h-16 bg-gray-200 rounded-md mr-4">
                        <img th:src="${cartItem.product.image}" alt="Product" class="w-16 h-full object-cover rounded mr-4">
                    </div> <!-- Đây là ảnh sản phẩm -->
                    <div>
                        <h2 class="text-lg font-semibold">[[${cartItem.product.name}]]</h2>
                        <p class="text-gray-600">Quantity: [[${cartItem.quantity}]]</p>
                        <p class="text-gray-600 mb-2">Price: [[${#numbers.formatDecimal(cartItem.product.price, 0, 'COMMA', 0, 'POINT')}]]</p>
                    </div>
                </div>
                <!-- Thêm các mục sản phẩm trong giỏ hàng ở đây -->
            </div>
            <p class="mt-4 text-lg font-semibold">Total: [[${#numbers.formatDecimal(cart.calculateTotal(), 0, 'COMMA', 0, 'POINT')}]]</p>
        </div>
    </div>
</div>
</body>
</html>