<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
    <script src="http://cdn.tailwindcss.com"></script>
    <style>
        .sidebar {
            height: 100vh; /* Đặt chiều cao cho phần menu điều hướng */
        }
    </style>
</head>
<body class="bg-gray-800">
<div class="flex">
    <div th:replace="fragment/admin-navigation :: admin-nav"></div>
    <div class="w-3/4 bg-white p-4">
        <h1 class="text-2xl font-semibold border-b border-gray-300 p-5">Update Product [[${product.name}]]</h1>
        <!-- Nội dung bảng quản lý sẽ được thêm vào đây -->
        <div class="max-w-md mx-auto my-10">
            <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" method="post" th:action="@{/admin/product/save}">
                <input type="hidden" name="id" th:value="${product.id}">
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" >
                        Name
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text" th:value="${product.name}" placeholder="Nhập tên product mới" name="name" required>
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" >
                        Price
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text" th:value="${product.price}" placeholder="Nhập giá mới" name="price" required>
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" >
                        Quantity
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="number" th:value="${product.quantity}" placeholder="Nhập số lượng mới" name="quantity" required>
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" >
                        Description
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text" th:value="${product.description}" placeholder="Nhập mô tả mới" name="description" required>
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" >
                        Image
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text" th:value="${product.image}" placeholder="Nhập link ảnh mới" name="image" required>
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2">
                        Category
                    </label>
                    <select name="category" class="border border-gray-400 rounded px-4 py-2 focus:outline-none focus:border-blue-500">
                        <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}" class="text-gray-800"></option>
                    </select>
                </div>
                <div class="flex items-center justify-between">
                    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                        Update product
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>