<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Site</title>
    <script src="http://cdn.tailwindcss.com"></script>
    <style>
        .sidebar {
            height: 100vh; /* Đặt chiều cao cho phần menu điều hướng */
        }
    </style>
</head>
<body class="bg-gray-800">
<div class="flex">
    <div th:replace="fragment/admin-navigation :: admin-nav"></div>
    <div class="w-3/4 bg-white p-4">
        <h1 class="text-2xl font-semibold">Manage Order ID = [[${order.id}]]</h1>
        <div class="max-w-md my-10">
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" >
                        Customer Name
                    </label>
                    <p class="text-gray-700" th:text="${order.customerName}"></p>
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" >
                        Customer Email
                    </label>
                    <p class="text-gray-700" th:text="${order.customerEmail}"></p>
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" >
                        Customer Phone
                    </label>
                    <p class="text-gray-700" th:text="${order.customerPhone}"></p>
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" >
                        Customer Address
                    </label>
                    <p class="text-gray-700" th:text="${order.customerAddress}"></p>
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" >
                        Total
                    </label>
                    <p class="text-gray-700" th:text="${#numbers.formatDecimal(order.total, 0, 'COMMA', 0, 'POINT')}"></p>
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2">
                        Order Items
                    </label>
                    <table class="min-w-max w-full table-auto">
                        <thead>
                        <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
                            <th class="py-3 px-6 text-left">Product Name</th>
                            <th class="py-3 px-6 text-center">Quantity</th>
                        </tr>
                        </thead>
                        <tbody class="text-gray-600 text-sm font-light">
                        <tr class="border-b border-gray-200 hover:bg-gray-100" th:each="orderItem : ${order.orderItems}">
                            <td class="py-3 px-6 text-center text-gray-700">[[${orderItem.product.name}]]</td>
                            <td class="py-3 px-6 text-center text-gray-700">[[${orderItem.quantity}]]</td>
                        </tr>
                        <!-- Thêm các dòng khác ở đây -->
                        </tbody>
                    </table>
                </div>
        </div>
    </div>
</div>
</body>
</html>