<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Site</title>
    <script src="http://cdn.tailwindcss.com"></script>
    <style>
        .sidebar {
            height: 100vh; /* Đặt chiều cao cho phần menu điều hướng */
        }
    </style>
</head>
<body class="bg-gray-800">
<div class="flex">
    <div th:replace="fragment/admin-navigation :: admin-nav"></div>
    <div class="w-3/4 bg-white p-4">
        <h1 class="text-2xl font-semibold">Manage Order</h1>
        <!-- Nội dung bảng quản lý sẽ được thêm vào đây -->
        <div class="w-full">
            <div class="bg-white shadow-md rounded my-2">
                <table class="min-w-max w-full table-auto">
                    <thead>
                    <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
                        <th class="py-3 px-6 text-left">ID</th>
                        <th class="py-3 px-6 text-left">Customer Name</th>
                        <th class="py-3 px-6 text-center">Customer Email</th>
                        <th class="py-3 px-6 text-center">Customer Phone</th>
                        <th class="py-3 px-6 text-center">Customer Address</th>
                        <th class="py-3 px-6 text-center">Action</th>
                    </tr>
                    </thead>
                    <tbody class="text-gray-600 text-sm font-light">
                    <tr class="border-b border-gray-200 hover:bg-gray-100" th:each="order:${orders}">
                        <td class="py-3 px-6 text-left whitespace-nowrap">[[${order.id}]]</td>
                        <td class="py-3 px-6 text-left whitespace-nowrap overflow-hidden">[[${order.customerName}]]</td>
                        <td class="py-3 px-6 text-center">[[${order.customerEmail}]]</td>
                        <td class="py-3 px-6 text-center">[[${order.customerPhone}]]</td>
                        <td class="py-3 px-6 text-center">[[${order.customerAddress}]]</td>
                        <td class="py-3 px-6 text-center">
                            <button class="bg-indigo-500 text-white hover:bg-indigo-700 py-1 px-3 rounded-full">
                                <a th:href="@{'/admin/order/' + ${order.id}}">
                                    Detail
                                </a>
                            </button>
                            <button class="bg-red-500 text-white hover:bg-red-700 py-1 px-3 rounded-full">
                                <a th:href="@{'/admin/order/delete/' + ${order.id}}">
                                    Delete
                                </a>
                            </button>
                        </td>
                    </tr>
                    <!-- Thêm các dòng khác ở đây -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>